<div class="container-fluid">
  <div class="row">
    <p class="explainer col-sm">
      Below is a list of {{
      answers.length }}
      players who either pitched 60 innings or received 502 plate appearances <em>(Sorry Shohei, just missed for both)</em>.
      For each correct answer you will receive
      {{ maxSecondsAdded }} extra seconds, up to a maximum of one minute. Good luck!
    </p>
  </div>
  <div *ngIf="finished" class="row alert alert-info" role="alert">
    Game Over! You managed to find {{ answered }} players. {{ answered | formatAnswered }}
  </div>
  <div class="row top-bar">
    <div class="col">
      <input id="last-name-input" [disabled]="!started || finished" (keyup)="handleChange()" [(ngModel)]="currentName"
        placeholder="Last Name">
    </div>

    <div class="col" *ngIf="!finished">
      <div *ngIf="!started">
        <button (click)="startQuiz()">Start the Quiz!</button>
      </div>

      <div *ngIf="started">
        <button (click)="endQuiz()">Give Up!</button>
      </div>
    </div>
    <div class="col" *ngIf="finished">
      <button (click)="startQuiz()">Try Again</button>
    </div>

    <div class="col">
      Time:
      <span [class.warning]="time < 20">
        {{ time | formatTime }}
      </span>
      <span *ngFor="let seconds of secondsAdded" class="seconds-added">
        +{{ seconds }} seconds
      </span>
    </div>

    <div class="col text-right">
      Score: {{ answered }} / {{ answers.length }}
    </div>

  </div>

  <div class="quiz-answers">
    <div class="answer-box" *ngFor="let entry of answers" [class.not-found]="finished && !found(entry)">
      <span *ngIf="show(entry)">
        {{ entry | formatName }}
      </span>
    </div>
  </div>

</div>