<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <p>
        Ballplayer Blitz is created by <a href="https://danaben.net/t">Dana Bennett</a>. Dana is a React developer who
        wanted
        to learn a bit of Angular. Inspired by Sporcle and a <a href="https://www.reddit.com/r/baseball/comments/a32yjq/i_named_1025_mlb_players_on_a_14hour_flight/">Reddit
          post</a> the game was created.
      </p>
      <p>
        If you are interested in the code, feel free to check out the <a href="https://github.com/danab/Ballplayer-Blitz">
          respository </a> on Github.
      </p>
      <p>
        <a routerLink="/">← Return to the game</a>
      </p>
    </div>
  </div>
</div>